src/service_account.json
src/serviceAccountKey.ts
dist

# Compiled JavaScript files
lib
lib/**/*.js
lib/**/*.js.map

# Node.js dependency directory
node_modules/

.DS_Store
firebase-debug.log
ui-debug.log

.eslintcache
