# Milky's Assets 

_ASSETS 
service_account.json
dist

# Compiled JavaScript files
lib
lib/**/*.js
lib/**/*.js.map

# Node.js dependency directory
node_modules/

.DS_Store
firebase-debug.log
ui-debug.log

.eslintcache
